#bottom-right
  position absolute
  z-index 1000
  right 0
  bottom 0
#snap-content
  background #000
#three-container
  height: 100%
  width 100%
  top 0
  right 0
  bottom 0
  left 0
  #three-canvas
    height 100%
    width 100%
    top 0
    right 0
    bottom 0
    left 0
