html,
body,
.container {
  overflow: hidden;
}
#top-right {
  position: absolute;
  z-index: 1000;
  right: 0;
  top: 0;
}
#top-left {
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 0;
}
#snap-content {
  background: #000;
}
#three-container,
#container,
canvas,
#three-canvas,
.container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.side-panel {
  background: #111;
  width: 150px;
  color: #ccc;
  overflow: scroll;
}
.side-panel button,
.side-panel input {
  width: 100%;
  color: #000;
}
.control-group {
  padding-bottom: 5px;
}
