doctype html
html(lang='en')
head
  title vj.js
  meta(charset='utf-8')
  link(rel="stylesheet", href="/style.css")
body
  #top-right
    button#show-param-panel Show/Hide Params
  #top-left
    button#show-scene-panel Show/Hide Scenes
  .snap-drawers
    .side-panel.snap-drawer.snap-drawer-left
      include ./includes/scene-panel.jade
    .side-panel.snap-drawer.snap-drawer-right
      include ./includes/param-panel.jade
  #snap-content.snap-content
    #container.container
    #three-container.container
script(data-main='js/app' src='js/require.js')
